body{
    background-image: url('/images/fondo.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}

#TituloPrincipal{
    font-size: 60px;
    text-align: center;
    text-shadow: 1px 1px rgb(15, 15, 15);
    color: blueviolet;
}

div.father{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;

    /*error con el border*/
    border-style: solid;
    border-radius: 20px;
}


div.upper{
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(7, 2, 26);
    height: 500px;
}

.infoPresupuesto{
    color: rgb(226, 226, 225);
    font-size: 40px;
}

.infoIngresos{
    color: rgb(32, 155, 32);

}

.infoEgresos{
    color: rgb(255, 0, 0);
}



div.divValor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 15%;
    margin-left: 15%;
    border-style: groove;
    border-color: aliceblue;
    border-radius: 30px;
}


div.divInfoIngresos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 40%;
    margin-left: 40%;
    border-style: groove;
    border-color: rgb(32, 155, 32);;
    border-radius: 30px;
}


div.divInfoEgresos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 40%;
    margin-left: 40%;
    border-style: groove;
    border-color: red;
    border-radius: 30px;
}

div.center{
    background-color: aliceblue;
    text-align: center;
}

div.bottom{
    display: flex;
    background-color: rgb(68, 0, 255);
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 300px;
}


div.divIngresosPadre{
    margin-top: 20px;
    background-color: rgb(108, 165, 42);
    text-align: center;
}

#listaIngresos{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 200px;
}

.elementoIngresos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.divEgresosPadre{
    margin-top: 20px;
    text-align: center;
    background-color: brown;    
}

#listaEgresos{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 200px;
}

.elementoEgresos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}