body{
    background-image: url('/images/fondo.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}

#TituloPrincipal{
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px rgb(202, 93, 42);
    color: aliceblue;
}



#DivPadre{
    background-image: url('/images/fondoBottom.png');
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;

    border: 5px solid rgb(116, 14, 65);
    border-radius: 10px;
    padding: 30px;
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
}

#DivFormulario{
    display: flex;   
    flex-direction: column;
}

.Elemento label{
    color: aliceblue;
    margin: 10px;
    font-size: 20px;
}


.Elemento input{
    width: 100%;
    padding: 10px 0;
    color: aliceblue;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid aliceblue;
    margin-bottom: 30px;
    font-size: 20px;
}

.Elemento input[type="submit"]{
    background-color: rgb(11, 45, 75);;
    border: none;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 15px;
    margin-top: 15px;
}

#BotonEnviar:hover{
    background-color: rgb(29, 71, 107)
}

.mensaje{
    color: aliceblue;
    margin: 10px;
    font-size: 30px;
}

#divRegistrarse{
    display: flex;
    flex-direction: column;
    margin-top: 67px;
    margin-left: 39%;
}

#registrarse{
    color: aliceblue;
    font-size: 20px;
    margin-left: 12%;
}


#divBotonVolver{
    padding-top: 10px;
}


#BotonVolver{
    background-color: rgb(81, 16, 156);
    border: none;
    letter-spacing: 10px;
    padding: 15px;
    color: aliceblue;
    margin: 10px;
    font-size: 20px;
    margin-left: 350px;
    margin-right: 350px;
    padding-left: 215px;
    padding-right: 215px;
}

#BotonVolver:hover{
    background-color: rgb(212, 117, 9)
}
#BotonVolver{
    border: 1px solid rgb(81, 16, 156);
    border-radius: 20px;
}